.locationBackground {
    -fx-background-image: url("../images/importWindow/locationIcon.png");
    -fx-background-size: 90 90;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px center;
    -fx-background-color: navy;
    -fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.locationBackground:hover {
    -fx-font-weight: bolder;
}