.removeBtnBackground {
    -fx-background-image: url("../../images/importWindow/delete.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-radius: 40px;
}

.mainBackground {
    -fx-background-image: url("../../images/importWindow/speciesEntryBackground2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-weight: bolder;
}

.font18 {
    -fx-font-size: 18;
}