/Sanimal/bin/*
/Sanimal/.classpath
/Sanimal/.project
/Sanimal/.settings/*
/Sanimal FX/.idea/*
/Sanimal FX/Sanimal FX.iml
/Sanimal FX/out/*
/.idea/*
/Sanimal.iml
/Independent Study Document.docx
/screenshots/*