.tab .tab-label {
    -fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 16px; /* all the same except this newly added one */
}

.tab-pane {
    -fx-tab-max-width: 1000px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
}

/* Next two CSS rules taken from here: https://stackoverflow.com/questions/40864243/javafx-css-change-tabpane-tab-header-shape */

.primaryTabPane > .tab-header-area > .headers-region > .tab {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.primaryTabPane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.credentialsLbl {
    -fx-font-size: 16px;
    -fx-text-fill: red;
}

.notification-pane .notification-bar {
    -fx-font-size: 16px;
}

.notification-pane .notification-bar .button-bar .button {
    -fx-font-weight: bold;
}