.editBtn {
    -fx-graphic: url("../images/importWindow/edit16.png");
}

.addBtn {
    -fx-graphic: url("../images/importWindow/add16.png");
}

.deleteBtn {
    -fx-graphic: url("../images/importWindow/delete16.png");
}

.importBtn {
    -fx-graphic: url("../images/importWindow/import16.png");
}

.resetBtn {
    -fx-graphic: url("../images/importWindow/reset16.png");
}

.leftBtn {
    -fx-graphic: url("../images/importWindow/leftArrow.png");
    -fx-scale-x: 40%;
    -fx-scale-y: 40%;
    -fx-background-color: transparent;
}

.resetSearchBtn {
    -fx-graphic: url("../images/importWindow/delete16.png");
}

.leftBtn:hover {
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.4, 0, 0);
}

.rightBtn {
    -fx-graphic: url("../images/importWindow/rightArrow.png");
    -fx-scale-x: 40%;
    -fx-scale-y: 40%;
    -fx-background-color: transparent;
}

.rightBtn:hover {
    -fx-effect: dropshadow(gaussian, yellow, 10, 0.4, 0, 0);
}

.imageViewBackground {
    -fx-background-color: lightgrey;
}

.imageView {
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0.9, 0, 0);
}

.lightBorder {
    -fx-border-color: lightgrey;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.transparentListView {
    -fx-background-color: transparent;
    -fx-opacity: 40%;
}

.transparentListView .list-cell {
    -fx-background-color: transparent;
}

.transparentListView .list-cell:selected .label {
    -fx-text-fill: indigo;
}

.locationList .list-cell:selected .label {
    -fx-text-fill: darkgreen;
}

.importPane {
    -fx-background-image: url("../images/importWindow/addImage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 200px 200px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-color: yellow;
    -fx-opacity: 0;
}

.sbrTaskProgress {
    -fx-opacity: 80%;
}

.clearPreviewBtn {
    -fx-background-radius: 50%;
    -fx-background-image: url("../images/importWindow/delete.png");
    -fx-background-position: center;
}

.clearPreviewBtn:hover {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 55%, darkred, white);
}

.locationLbl {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 15px;
    -fx-padding: 3px 10px 3px 10px;
}