.exitBtn {
    -fx-background-image: url("../images/mainMenu/exit.png");
    -fx-background-position: 5%;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 18px;
}

.logoutBtn {
    -fx-background-image: url("../images/mainMenu/login.png");
    -fx-background-position: 5%;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 18px;
}

.creditsBtn {
    -fx-background-image: url("../images/mainMenu/credits.png");
    -fx-background-position: 5%;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 18px;
}

.usernameLbl {
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 28px;
}

.buttonPane {
    -fx-background-color: rgba(200, 200, 200, 0.6);
    -fx-padding: 10px;
    -fx-background-radius: 10px 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px 10px;
}


.imgCyverse {
    -fx-effect: dropshadow(gaussian, black, 15, .1, 0, 0);
}

.imgCyverse:hover {
    -fx-effect: dropshadow(gaussian, yellow, 15, .5, 0, 0);
}

.imgSNRE {
    -fx-effect: dropshadow(gaussian, black, 15, .1, 0, 0);
}

.imgSNRE:hover {
    -fx-effect: dropshadow(gaussian, yellow, 15, .5, 0, 0);
}

.imgCS {
    -fx-effect: dropshadow(gaussian, black, 15, .1, 0, 0);
}

.imgCS:hover {
    -fx-effect: dropshadow(gaussian, yellow, 15, .5, 0, 0);
}

.imgWildcatResearch {
    -fx-effect: dropshadow(gaussian, black, 15, .1, 0, 0);
}

.imgWildcatResearch:hover {
    -fx-effect: dropshadow(gaussian, yellow, 15, .5, 0, 0);
}