.exitBtn {
    -fx-background-image: url("../images/mainMenu/exit.png");
    -fx-background-position: 5%;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 18px;
}

.logoutBtn {
    -fx-background-image: url("../images/mainMenu/login.png");
    -fx-background-position: 90%;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 18px;
}

.usernameLbl {
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 28px;
}

.buttonPane {
    -fx-background-color: rgba(200, 200, 200, 0.6);
    -fx-padding: 10px;
    -fx-background-radius: 10px 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px 10px;
}