.tab .tab-label {
    -fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 16px; /* all the same except this newly added one */
}

.tab-pane {
    -fx-tab-max-width: 1000px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
}
